#textdomain wesnoth-WoL_Map_Pack

# wmllint: local spelling Celarian
[multiplayer]
    id=multiplayer_2p_Celarian_Gardens
    name= _ "2p — Celarian Gardens"
    description= _ "While the Elvish Civil War rages, even far in the Aethenwood the elvish lands are not so tranquil... North against South, 8 keeps, 16 villages."
    map_file=2p_Celarian_Gardens.map
    random_start_time="yes"

    {DEFAULT_SCHEDULE}
    {DEFAULT_MUSIC_PLAYLIST}

    [side]
        [ai]
            villages_per_scout=8
        [/ai]
        side=1
        canrecruit=yes
        controller=human
        team_name=north
        user_team_name= _ "teamname^North"
        fog=yes
    [/side]
    [side]
        [ai]
            villages_per_scout=8
        [/ai]
        side=2
        canrecruit=yes
        controller=human
        team_name=south
        user_team_name= _ "teamname^South"
        fog=yes
        [village]
            x=9
            y=28
        [/village]
    [/side]
[/multiplayer]
