#textdomain wesnoth-WoL_Map_Pack

# wmllint: local spelling Wernan
[multiplayer]
    id=multiplayer_2p_Hernan_Mills
    name= _ "2p — Hernan Mills"
    description= _ "The wealthy lairds of these lands hired you to defend them from their enemies. Do a good job, or forget the wage. North against South, 6 keeps, 14 villages."
    map_file=2p_Hernan_Mills.map
    random_start_time="yes"

    {DEFAULT_SCHEDULE}
    {DEFAULT_MUSIC_PLAYLIST}

    [side]
        [ai]
            villages_per_scout=8
        [/ai]
        side=1
        canrecruit=yes
        controller=human
        team_name=north
        user_team_name= _ "teamname^North"
        fog=yes
    [/side]
    [side]
        [ai]
            villages_per_scout=8
        [/ai]
        side=2
        canrecruit=yes
        controller=human
        team_name=south
        user_team_name= _ "teamname^South"
        fog=yes
        [village]
            x=3
            y=23
        [/village]
    [/side]
[/multiplayer]
