#textdomain wesnoth-WoL_Map_Pack

# wmllint: local spelling Ipharian
[multiplayer]
    id=multiplayer_2p_Ipharian_Canyon
    name= _ "2p — Ipharian Canyon"
    description= _ "These arid highlands apparently are not worth a battle, but in reality controlling them is the key to win the endless war. North-West against South-East, 6 keeps, 16 villages."
    map_file=2p_Ipharian_Canyon.map
    random_start_time="yes"

    {DEFAULT_SCHEDULE}
    {DEFAULT_MUSIC_PLAYLIST}

    [side]
        [ai]
            villages_per_scout=8
        [/ai]
        side=1
        canrecruit=yes
        controller=human
        team_name=north-west
        user_team_name= _ "teamname^North-West"
        fog=yes
    [/side]
    [side]
        [ai]
            villages_per_scout=8
        [/ai]
        side=2
        canrecruit=yes
        controller=human
        team_name=south-east
        user_team_name= _ "teamname^South-East"
        fog=yes
        [village]
            x=12
            y=25
        [/village]
    [/side]
[/multiplayer]
