#textdomain wesnoth-WoL_Map_Pack

# wmllint: local spelling Kharan
[multiplayer]
    id=multiplayer_2p_Kharan_Highlands
    name= _ "2p — Kharan Highlands"
    description= _ "This mountainous region has been disputed for long time, and the massive fortifications scattered in the land prove this. Now it's your turn to claim it. South against North, 10 keeps, 12 villages."
    map_file=2p_Kharan_Highlands.map
    random_start_time="yes"

    {DEFAULT_SCHEDULE}
    {DEFAULT_MUSIC_PLAYLIST}

    [side]
        [ai]
            villages_per_scout=8
        [/ai]
        side=1
        canrecruit=yes
        controller=human
        team_name=south
        user_team_name= _ "teamname^South"
        fog=yes
    [/side]
    [side]
        [ai]
            villages_per_scout=8
        [/ai]
        side=2
        canrecruit=yes
        controller=human
        team_name=north
        user_team_name= _ "teamname^North"
        fog=yes
        [village]
            x=11
            y=7
        [/village]
    [/side]
[/multiplayer]
