#textdomain wesnoth-WoL_Map_Pack

# wmllint: local spelling Lakras
[multiplayer]
    id=multiplayer_2p_Lakras_Steppes
    name= _ "2p — Lakras Steppes"
    description= _ "Long time ago, this region was green and fertile. Then arrived a fiery elemental storm that almost dried the immense lake. It is told that the power of the elements rage restlessly even now at the bottom of the lake, but someone else also listened to this legend... South against North, 10 keeps, 14 villages."
    map_file=2p_Lakras_Steppes.map
    random_start_time="yes"

    {DEFAULT_SCHEDULE}
    {DEFAULT_MUSIC_PLAYLIST}

    [side]
        [ai]
            villages_per_scout=8
        [/ai]
        side=1
        canrecruit=yes
        controller=human
        team_name=south
        user_team_name= _ "teamname^South"
        fog=yes
    [/side]
    [side]
        [ai]
            villages_per_scout=8
        [/ai]
        side=2
        canrecruit=yes
        controller=human
        team_name=north
        user_team_name= _ "teamname^North"
        fog=yes
        [village]
            x=27
            y=2
        [/village]
    [/side]
[/multiplayer]
