#textdomain wesnoth-WoL_Map_Pack

[multiplayer]
    id=multiplayer_2p_Misty_Swamp
    name= _ "2p — Misty Swamp"
    description= _ "War over swamp. By Hejnewar."
    map_file="2p_Misty_Swamp.map"
    random_start_time="yes"

    {DEFAULT_SCHEDULE_MORNING}
    {DEFAULT_MUSIC_PLAYLIST}

    [side]
        [ai]
            villages_per_scout=7
        [/ai]
        side=1
        canrecruit=yes
        gold=100
        controller=human
        team_name=North
        user_team_name= _ "teamname^North"
        fog=yes
    [/side]

    [side]
        [ai]
            villages_per_scout=7
        [/ai]
        side=2
        canrecruit=yes
        gold=100
        controller=human
        team_name=South
        user_team_name= _ "teamname^South"
        fog=yes
        [village]
            x=32
            y=16
        [/village]
    [/side]
[/multiplayer]
