#textdomain wesnoth-WoL_Map_Pack

[multiplayer]
    id=multiplayer_2p_Mountains_and_Valleys
    name= _ "2p — Mountains and Valleys"
    map_file=2p_Mountains_and_Valleys.map
    description= _ "A 2-player duel map of ridges, passes, and open valleys."
    turns=-1

    {DEFAULT_SCHEDULE}
    {DEFAULT_MUSIC_PLAYLIST}

    [side]
        side=1
        team_name=south
        user_team_name= _ "South"
        gold=100
        canrecruit=yes
        controller=human
        fog=yes
    [/side]

    [side]
        side=2
        team_name=north
        user_team_name= _ "North"
        gold=100
        canrecruit=yes
        controller=human
        fog=yes
    [/side]

[/multiplayer]
