#textdomain wesnoth-WoL_Map_Pack

# wmllint: local spelling Reynan
[multiplayer]
    id=multiplayer_2p_Reynan_Fields
    name= _ "2p — Reynan Fields"
    description= _ "Peripheral lands of the Crown, often ravaged by invaders from the outer mountains, the inhabitants are getting used to seeing armies stomping on their crops. North against South, 14 keeps, 14 villages."
    map_file=2p_Reynan_Fields.map
    random_start_time="yes"

    {DEFAULT_SCHEDULE}
    {DEFAULT_MUSIC_PLAYLIST}

    [side]
        [ai]
            villages_per_scout=8
        [/ai]
        side=1
        canrecruit=yes
        controller=human
        team_name=north
        user_team_name= _ "teamname^North"
        fog=yes
    [/side]
    [side]
        [ai]
            villages_per_scout=8
        [/ai]
        side=2
        canrecruit=yes
        controller=human
        team_name=south
        user_team_name= _ "teamname^South"
        fog=yes
        [village]
            x=13
            y=34
        [/village]
    [/side]
[/multiplayer]
