#textdomain wesnoth-WoL_Map_Pack

# wmllint: local spelling Straanka
[multiplayer]
    id=multiplayer_2p_Straanka_Ford
    name= _ "2p — Straanka Ford"
    description= _ "Many great battles of the past were decided at this ford... Now it's your turn to enter history! South-West against North-East, 6 keeps, 10 villages."
    map_file=2p_Straanka_Ford.map
    random_start_time="yes"

    {DEFAULT_SCHEDULE}
    {DEFAULT_MUSIC_PLAYLIST}

    [side]
        [ai]
            villages_per_scout=8
        [/ai]
        side=1
        canrecruit=yes
        controller=human
        team_name=south-east
        user_team_name= _ "teamname^South-East"
        fog=yes
    [/side]
    [side]
        [ai]
            villages_per_scout=8
        [/ai]
        side=2
        canrecruit=yes
        controller=human
        team_name=north-west
        user_team_name= _ "teamname^North-West"
        fog=yes
        [village]
            x=12
            y=1
        [/village]
    [/side]
[/multiplayer]
