#textdomain wesnoth-WoL_Map_Pack

[multiplayer]
    id=2p_Twin_Goddesses
    name= _ "2p - Twin Goddesses"
    description= _ "This volcanic cave was once a temple, where in ancient times people had been worshipping their gods, and were throwing their offerings into lava pits. (Created by White_Drag0n)"
    map_file=2p_Twin_Goddesses.map
    random_start_time="yes"

    {DEFAULT_SCHEDULE}
    {DEFAULT_MUSIC_PLAYLIST}

    [side]
        [ai]
            villages_per_scout=8
        [/ai]
        side=1
        canrecruit=yes
        controller=human
        team_name=north
        user_team_name= _ "teamname^North"
        fog=yes
    [/side]
    [side]
        [ai]
            villages_per_scout=8
        [/ai]
        side=2
        canrecruit=yes
        controller=human
        team_name=south
        user_team_name= _ "teamname^South"
        fog=yes
        [village]
            x=14
            y=17
        [/village]
    [/side]
[/multiplayer]
