#textdomain wesnoth-WoL_Map_Pack

# wmllint: local spelling Urgard
[multiplayer]
    id=multiplayer_2p_Urgard_Ruins
    name= _ "2p — Urgard Ruins"
    description= _ "After the massive strike of Mal-Ravanal's undead hordes, this eastern city has never recovered from the terrible wound and has lain in ruins until now. Today you will regain and rebuild the city, but scavengers also are roaming in the vicinity... North-West against South-East, 10 keeps, 18 villages."
    map_file=2p_Urgard_Ruins.map
    random_start_time="yes"

    {DEFAULT_SCHEDULE}
    {DEFAULT_MUSIC_PLAYLIST}

    [side]
        [ai]
            villages_per_scout=8
        [/ai]
        side=1
        canrecruit=yes
        controller=human
        team_name=north-west
        user_team_name= _ "teamname^North-West"
        fog=yes
    [/side]
    [side]
        [ai]
            villages_per_scout=8
        [/ai]
        side=2
        canrecruit=yes
        controller=human
        team_name=south-east
        user_team_name= _ "teamname^South-East"
        fog=yes
        [village]
            x=3
            y=22
        [/village]
    [/side]
[/multiplayer]
