#textdomain wesnoth-WoL_Map_Pack

# wmllint: local spelling Thangard
[multiplayer]
    id=multiplayer_4p_Thangard_Mines
    name= _ "4p — Thangard Mines"
    description= _ "A prosperous kingdom is solid only when it can access resources to maintain itself, so why not claim these forgotten but fruitful mines? Oh, you were not the only to achieve this brilliant idea... North against South, 8 keeps, 22 villages."
    map_file=4p_Thangard_Mines.map
    random_start_time="yes"

    {DEFAULT_SCHEDULE}
    {DEFAULT_MUSIC_PLAYLIST}

    [side]
        [ai]
            villages_per_scout=8
        [/ai]
        side=1
        canrecruit=yes
        controller=human
        team_name=north
        user_team_name= _ "teamname^North"
        fog=yes
    [/side]
    [side]
        [ai]
            villages_per_scout=8
        [/ai]
        side=2
        canrecruit=yes
        controller=human
        team_name=south
        user_team_name= _ "teamname^South"
        fog=yes
    [/side]
    [side]
        [ai]
            villages_per_scout=8
        [/ai]
        side=3
        canrecruit=yes
        controller=human
        team_name=south
        user_team_name= _ "teamname^South"
        fog=yes
    [/side]
    [side]
        [ai]
            villages_per_scout=8
        [/ai]
        side=4
        canrecruit=yes
        controller=human
        team_name=north
        user_team_name= _ "teamname^North"
        fog=yes
    [/side]
[/multiplayer]
