#textdomain wesnoth-WoL_Map_Pack

#define WOL_MP_SCENARIO_FLUX_AI_SETTINGS _SIDE
    [ai]
        {AI_SIMPLE_ALWAYS_ASPECT aggression 0.70}
        {AI_SIMPLE_ALWAYS_ASPECT grouping no}
        {AI_SIMPLE_ALWAYS_ASPECT leader_value 0}
        {AI_SIMPLE_ALWAYS_ASPECT village_value 0.1}
        {AI_SIMPLE_ALWAYS_ASPECT scout_village_targeting 30}
        [micro_ai]
            ai_type=regroup
            side={_SIDE}
            action=add

            retreat_tod=none

            leader_protect_radius=3
            leader_prudence=yes
            leader_frustration=yes
            always_attack_at_turn_end=yes
        [/micro_ai]
    [/ai]
#enddef

[multiplayer]
    id=multiplayer_9p_Cormoran_Island_Flux
    name= _ "9p — Cormoran Island Flux"
    map_file=9p_Cormoran_Island_Flux.map
    description= _ "A large free-for-all map for nine players. By Temuchin_Khan."
    random_start_time="no"

    {DEFAULT_SCHEDULE}
    {DEFAULT_MUSIC_PLAYLIST}

    [side]
        side=1
        canrecruit=yes
        controller=human
        team_name=player1
        user_team_name= _ "teamname^Player 1"
        gold=100
        fog=yes
        {WOL_MP_SCENARIO_FLUX_AI_SETTINGS 1}
    [/side]

    [side]
        side=2
        canrecruit=yes
        controller=human
        team_name=player2
        user_team_name= _ "teamname^Player 2"
        gold=100
        fog=yes
        {WOL_MP_SCENARIO_FLUX_AI_SETTINGS 2}
    [/side]

    [side]
        side=3
        canrecruit=yes
        controller=human
        team_name=player3
        user_team_name= _ "teamname^Player 3"
        gold=100
        fog=yes
        {WOL_MP_SCENARIO_FLUX_AI_SETTINGS 3}
    [/side]

    [side]
        side=4
        canrecruit=yes
        controller=human
        team_name=player4
        user_team_name= _ "teamname^Player 4"
        gold=100
        fog=yes
        {WOL_MP_SCENARIO_FLUX_AI_SETTINGS 4}
    [/side]

    [side]
        side=5
        canrecruit=yes
        controller=human
        team_name=player5
        user_team_name= _ "teamname^Player 5"
        gold=100
        fog=yes
        {WOL_MP_SCENARIO_FLUX_AI_SETTINGS 5}
    [/side]

    [side]
        side=6
        canrecruit=yes
        controller=human
        team_name=player6
        user_team_name= _ "teamname^Player 6"
        gold=100
        fog=yes
        {WOL_MP_SCENARIO_FLUX_AI_SETTINGS 6}
    [/side]

    [side]
        side=7
        canrecruit=yes
        controller=human
        team_name=player7
        user_team_name= _ "teamname^Player 7"
        gold=100
        fog=yes
        {WOL_MP_SCENARIO_FLUX_AI_SETTINGS 7}
    [/side]

    [side]
        side=8
        canrecruit=yes
        controller=human
        team_name=player8
        user_team_name= _ "teamname^Player 8"
        gold=100
        fog=yes
        {WOL_MP_SCENARIO_FLUX_AI_SETTINGS 8}
    [/side]

    [side]
        side=9
        canrecruit=yes
        controller=human
        team_name=player9
        user_team_name= _ "teamname^Player 9"
        gold=100
        fog=yes
        {WOL_MP_SCENARIO_FLUX_AI_SETTINGS 9}
    [/side]

[/multiplayer]
#undef WOL_MP_SCENARIO_FLUX_AI_SETTINGS
