#textdomain wesnoth-WoL_Map_Pack

[multiplayer]
    id=multiplayer_9p_Cormoran_Island_Flux
    name= _ "9p — Cormoran Island Flux"
    map_file=9p_Cormoran_Island_Flux.map
    description= _ "A large free-for-all map for nine players."
    random_start_time="no"

    {DEFAULT_SCHEDULE}
    {DEFAULT_MUSIC_PLAYLIST}

    [side]
        side=1
        canrecruit=yes
        controller=human
        team_name=player1
        user_team_name= _ "teamname^Player 1"
        gold=100
        fog=yes
    [/side]

    [side]
        side=2
        canrecruit=yes
        controller=human
        team_name=player2
        user_team_name= _ "teamname^Player 2"
        gold=100
        fog=yes
    [/side]

    [side]
        side=3
        canrecruit=yes
        controller=human
        team_name=player3
        user_team_name= _ "teamname^Player 3"
        gold=100
        fog=yes
    [/side]

    [side]
        side=4
        canrecruit=yes
        controller=human
        team_name=player4
        user_team_name= _ "teamname^Player 4"
        gold=100
        fog=yes
    [/side]

    [side]
        side=5
        canrecruit=yes
        controller=human
        team_name=player5
        user_team_name= _ "teamname^Player 5"
        gold=100
        fog=yes
    [/side]

    [side]
        side=6
        canrecruit=yes
        controller=human
        team_name=player6
        user_team_name= _ "teamname^Player 6"
        gold=100
        fog=yes
    [/side]

    [side]
        side=7
        canrecruit=yes
        controller=human
        team_name=player7
        user_team_name= _ "teamname^Player 7"
        gold=100
        fog=yes
    [/side]

    [side]
        side=8
        canrecruit=yes
        controller=human
        team_name=player8
        user_team_name= _ "teamname^Player 8"
        gold=100
        fog=yes
    [/side]

    [side]
        side=9
        canrecruit=yes
        controller=human
        team_name=player9
        user_team_name= _ "teamname^Player 9"
        gold=100
        fog=yes
    [/side]

[/multiplayer]
